# Configuración de la aplicación
APP_NAME=Servicio de Despacho - Smart Ride
APP_VERSION=1.0.0
DEBUG=True
PORT=8003

# Base de datos PostgreSQL
DATABASE_URL=postgresql://usuario:password:despacho_pass@postgres:5432/db_smartride_despacho
DB_HOST=postgres
DB_PORT=5432
DB_NAME=db_smartride_despacho
DB_USER=usuario
DB_PASSWORD=password
